/* slider.pcss */
@import 'flickity/css/flickity.css';

/* Page Header Slider */
.ph-slider {
  & .slide {
    @apply w-full mr-8;
  }
}

/* Page Builder Carousel */
.pb-carousel {
  & .slide {
    @apply w-1/3;
  }
}
